/*question ID display the property of h1 where question will go*/
#question {
    border-style: dashed;
    border-width: 3px;
    font-size: 30px;
    border-spacing: inherit;
    font-family: sans-serif;
    margin-right: 1500px;
}

/*All the radio buttons are stored inside. created ID to have seperate border*/
#question-box {
    border-style: dashed;
    font-size: 20px;
    font-family: monospace;
    margin-right: 1500px
}

/*Body color set to aquamarine*/
body {
    background-color: aquamarine;
}

/*Created [Enter, Next-Question, Help, Restart]
button properties to match professors buttons*/
#enter {
    border-width: 1px;
    font-size: 20px;
    background-color: #1e8cd6;
    margin-right: 20px;
}

#next-question {
    border-width: 1px;
    font-size: 20px;
    background-color: #1e8cd6;
}

#help {
    border-width: 1px;
    font-size: 20px;
    background-color: #f4f6f7;
    margin-left: 30px;
    margin-top: 5px;

}

#restart {
    border-width: 1px;
    font-size: 20px;
    background-color: #f4f6f7;
    margin-left: 100px;
    margin-top: 5px;
}